/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Layers
#define COLEMAK 0
#define MOD_ARR 1
#define NAVIGAT 2
#define FUN_NUM 3
#define SYMBOLS 4
#define WM_WIN  5

// Keycodes
#define LT_D &lt SYMBOLS D
#define LT_BSPC &rep MOD_ARR BSPC
#define LT_TAB &lt FUN_NUM TAB

#define LT_H &lt SYMBOLS H
#define LT_SPACE &rep MOD_ARR SPACE
#define LT_RET &lt FUN_NUM RET


/ {
        macros {
            wm_exposee_win: wm_exposee_win {
                compatible = "zmk,behavior-macro";
                label = "Win10 Exposee";
                #binding-cells = <0>;
                wait-ms = <10>;
                tap-ms = <20>;
                bindings
                    = <&macro_press &kp LGUI>
                    , <&macro_tap &kp TAB>
                    , <&macro_release &kp LGUI>
                    ;
            };

            wm_prev_desktop_win: wm_prev_desktop_win {
                compatible = "zmk,behavior-macro";
                label = "Win10 Go To Previous Desktop";
                #binding-cells = <0>;
                wait-ms = <10>;
                tap-ms = <20>;
                bindings
                    = <&macro_press &kp LCTRL>
                    , <&macro_press &kp LGUI>
                    , <&macro_tap &kp LEFT>
                    , <&macro_release &kp LGUI>
                    , <&macro_release &kp LCTRL>
                    ;
            };

            wm_next_desktop_win: wm_next_desktop_win {
                compatible = "zmk,behavior-macro";
                label = "Win10 Go To Next Desktop";
                #binding-cells = <0>;
                wait-ms = <10>;
                tap-ms = <20>;
                bindings
                    = <&macro_press &kp LCTRL>
                    , <&macro_press &kp LGUI>
                    , <&macro_tap &kp RIGHT>
                    , <&macro_release &kp LGUI>
                    , <&macro_release &kp LCTRL>
                    ;
            };
        };

        behaviors {
            lhs: left_hand_shift {
                compatible = "zmk,behavior-hold-tap";
                label = "Left-Hand Shift";
                #binding-cells = <2>;
                tapping-term-ms = <160>;
                flavor = "balanced";
                bindings = <&kp>, <&kp>;
                hold-trigger-key-positions = <6 7 8 9 10 18 19 20 21 22 30 31 32 33 34 39 40 41>;    // <---[[right-hand keys]]
            };

            rhs: right_hand_shift {
                compatible = "zmk,behavior-hold-tap";
                label = "Right-Hand Shift";
                #binding-cells = <2>;
                tapping-term-ms = <160>;
                flavor = "balanced";
                bindings = <&kp>, <&kp>;
                hold-trigger-key-positions = <1 2 3 4 5 13 14 15 16 17 25 26 27 28 29 36 37 38>;    // <---[[left-hand keys]]
            };

            hrm: home_row_mods {
                compatible = "zmk,behavior-hold-tap";
                label = "Home Row Mods";
                #binding-cells = <2>;
                tapping-term-ms = <200>;
                quick-tap-ms = <0>;
                flavor = "tap-preferred";
                bindings = <&kp>, <&kp>;
            };

            rep: repeating_layer_tap {
                compatible = "zmk,behavior-hold-tap";
                label = "Repeating Hold-Tap";
                #binding-cells = <2>;
                tapping-term-ms = <200>;
                quick-tap-ms = <300>;
                bindings = <&mo>, <&kp>;
            };

            lte: layer_tab_exposee {
                compatible = "zmk,behavior-hold-tap";
                label = "Layer-tap the exposee macro";
                #binding-cells = <2>;
                tapping-term-ms = <200>;
                bindings = <&mo>, <&wm_exposee_win>;
            };
        };

        keymap {
                compatible = "zmk,keymap";

                colemak {
// -----------------------------------------------------------------------------------------
// |      |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  ;  |      |
// |      |  A  |  R  |  S  |  T  |  G  |   |  M  |  N   |  E  |  I  |  O  |      |
// |      |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |  /  |      |
//                    |  WM | BSP | TAB |   | ENT | SPC  | TAB |

                        bindings = <
   &none     &kp Q &kp W &kp F &kp P &kp B   &kp J &kp L  &kp U     &kp Y   &kp SEMI    &none
   &none     &hrm LALT A &hrm LGUI R &hrm LCTRL S &lhs LSHFT T &kp G   &kp M &rhs RSHFT N  &hrm RCTRL E     &hrm RGUI I   &hrm LGUI O       &none
   &none     &kp Z &kp X &kp C LT_D  &kp V   &kp K LT_H   &kp COMMA &kp DOT &kp FSLH    &none
             &lte WM_WIN 0 LT_BSPC LT_TAB  LT_RET LT_SPACE &kp ESC
                        >;
                };

                mod_arr {
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     | CAPS|     |   | LFT | DWN | UP  | RGT |     |      |
// |      |     |     |     | NAV |     |   |     |     |     |     |     |      |
//                    |     | DEL |     |   |     |     |     |

                        bindings = <
   &none      &none       &none       &none       &none       &none         &none    &none    &none  &none     &none &none
   &none      &none       &none       &none       &kp CAPS    &none         &kp LEFT &kp DOWN &kp UP &kp RIGHT &none &none
   &none      &none       &none       &none       &mo NAVIGAT &none         &none    &none    &none  &none     &none &none
                                      &none       &kp DEL     &none         &none    &none    &none
                        >;
                };

                navigat {
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   | HOME| PGDN| PGUP| END |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                    |     |     |     |   |     |     |     |

                        bindings = <
   &none      &none       &none       &none       &none       &none         &none    &none     &none     &none   &none &none
   &none      &none       &none       &none       &none       &none         &kp HOME &kp PG_DN &kp PG_UP &kp END &none &none
   &none      &none       &none       &none       &none       &none         &none    &none     &none     &none   &none &none
                                      &none       &none       &none         &none    &none     &none
                        >;
                };

                fun_num {
// -----------------------------------------------------------------------------------------
// |      |     | F4  | F3  | F2  | F1  |   |     | 7   | 8   | 9   | -   |      |
// |      |     | F8  | F7  | F6  | F5  |   | '   | 4   | 5   | 6   | =   |      |
// |      |     | F12 | F11 | F10 | F9  |   | `   | 1   | 2   | 3   | \   |      |
//                    |     |     |     |   | 0   | 0   | .   |

                        bindings = <
   &none      &none       &kp F4       &kp F3       &kp F2       &kp F1         &none     &kp N7    &kp N8    &kp N9   &kp MINUS &none
   &none      &none       &kp F8       &kp F7       &kp F6       &kp F5         &kp SQT   &kp N4    &kp N5    &kp N6   &kp EQUAL &none
   &none      &none       &kp F12      &kp F11      &kp F10      &kp F9         &kp GRAVE &kp N1    &kp N2    &kp N3   &kp BSLH  &none
                                       &none        &none        &none          &kp N0    &kp N0    &kp DOT

                        >;
                };

                symbols {
// -----------------------------------------------------------------------------------------
// |      | @   | #   | $   | %   | ^   |   | &   | *   | (   | )   | _   |      |
// |      | !   |     |     |     |     |   | "   |     | [   | ]   | +   |      |
// |      |     |     |     |     |     |   | ~   |     | {   | }   | "|" |      |
//                    |     |     |     |   |     |     |     |

                        bindings = <
   &none      &kp AT      &kp HASH    &kp DLLR    &kp PRCNT   &kp CARET     &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR &kp UNDER &none
   &none      &kp EXCL    &none       &none       &none       &none         &kp DQT   &none     &kp LBKT &kp RBKT &kp PLUS  &none
   &none      &none       &none       &none       &none       &none         &kp TILDE &none     &kp LBRC &kp RBRC &kp PIPE  &none
                                      &none       &none       &none         &none     &none     &none
                        >;
                };

                wm_win {
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |START|     |     |   |PRV_D|     |     |NXT_D|     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                    |     |     |     |   |     |     |     |

                        bindings = <
   &none      &none       &none       &none       &none       &none         &none    &none     &none     &none   &none &none
   &none      &none       &none       &kp LGUI    &none       &none         &wm_prev_desktop_win &none   &none   &wm_next_desktop_win &none &none
   &none      &none       &none       &none       &none       &none         &none    &none     &none     &none   &none &none
                                      &none       &none       &none         &none    &none     &none
                        >;
                };
        };
};
